.user-validate {
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
    padding: 1rem;
    /*width: 100%;*/
    max-width: 500px;
}

 .mud-button-filled{
    /* background-color: var(--mud-palette-action-default-hover); */
    background-color: var(--mud-palette-primary);
    color: var(--mud-palette-appbar-text)
}
.mud-card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
    padding: 1rem;
}

.reserva-content {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
}

.lista-container {
    width: 100%;
    min-width: 400px;
    /* margin: 20px auto;
    padding: 10px; */
    /* background-color: #9c4545af; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
 @media screen and (max-width: 640.98px)
 /* @media only screen and (min-width: 360px) and (max-width: 768px)  */
 {
    .lista-container {
        /* min-width: auto; */
        width: fit-content;
        /* width: 300px;   */
    }
    .reserva-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: fit-content;
    }

    .user-validate {
        /* display: flex;
        
        gap: 0.5rem;
        */
        justify-content: flex-start;
        padding: 0rem;
        width: fit-content;
    
    }

    .mud-card {
        width: fit-content;
        flex-grow: 0;
    }

    .mud-card-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
        padding: 1rem;
        width: fit-content;
    }
    

}