# Archivos generados por Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates
*.vssscc
*.vspscc
*.ncb
*.sdf
*.opensdf
*.ilk
*.pdb
*.tlog
*.idb
*.cachefile
*.log
[Bb]in
[Oo]bj
_ReSharper.*
*.DotSettings.user

# Archivos de paquetes NuGet
packages/
*.nupkg

# Archivos de compilación
*.exe
*.dll
*.appx
*.appxbundle
*.appxupload
*.appinstaller
*.pfx
*.cer
*.vsix
*.apphost.exe

# Archivos de caché del sistema operativo
[Tt]humbs.db
*.DS_Store

# Archivos de prueba
TestResults/
*.trx

# Archivos de publicación
Publish/
*.pubxml
*.azurePubxml

# Archivos específicos del proyecto
Client/bin/
Client/obj/
Client/publish/
Server/bin/
Server/obj/
Server/publish/
Shared/bin/
Shared/obj/
Data/bin/
Data/obj/

# Archivos de herramientas
.vs/
.vscode/

# Archivos de contenedor Docker
docker-compose.*.yml
.dockerignore

# Archivos de configuración de Azure
*.azurewebsites.net
*.publishsettings
ServiceConfiguration.*.cscfg
*.bliss.config
